[submodule "conda-zsh-completion"]
	path = conda-zsh-completion
	url = ../../esc/conda-zsh-completion.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = ../../zsh-users/zsh-autosuggestions
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = ../../zsh-users/zsh-history-substring-search
[submodule "zsh-z"]
	path = zsh-z
	url = ../../agkozak/zsh-z
[submodule "git-prompt.zsh"]
	path = git-prompt.zsh
	url = ../../woefe/git-prompt.zsh.git
